html, body {
    height: 100%;
    margin: 10 10;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: rgb(47, 47, 47);
}

.main-header {
    flex: 0 1 auto;
}

.logo-text {
    background: rgba(255, 107, 0, 0.68);
    border-radius: 25px;
    font-family: 'Lemonada', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 4.7em;
}

.main-text {
    font-family: 'Lemonada', cursive;
    text-align: left;
    font-size: 0.7em
}

.footer-text {
    display: block;
    background: rgba(255, 107, 0, 0.68);
    border-radius: 25px;
    font-family: 'Lemonada', cursive;
    text-align: left;
    font-size: 0.7em;
    }


/* inspiration from http://www.w3schools.com/css/css_navbar.asp*/

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 25px;
}

.nav li {
    float: left;
    border-right: 1px solid #000000;
}

.nav li:last-child {
    border-right: none;
}

.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: auto;
}

.nav li a:hover {
    background-color: rgba(255, 107, 0, 0.68);
}

.active {
    background-color: rgba(255, 107, 0, 0.68);
}

.container {
    position: relative;
    align-items: center;
}

img {
    width: auto;
    height: 400px;
    opacity: 0.6;
}


/*cv*/

ul {
    list-style-type: none;
}


/*bio*/

.floatleft {
    width: 200px;
    height: 300px;
    float: left;
    margin-right: 1em;
}


/*contact*/

/* inspiration from http://www.w3schools.com/html/html_forms.asp*/

.form {
    display: block;
    border-radius: 15px;
    background: rgba(255, 107, 0, 0.68);
    float: left;
}
